<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title"><img src="<a href="https://ibb.co/pynXpcH"><img src="https://i.ibb.co/SrJvpbk/torn-p-4-weblogo.png" alt="torn-p-4-weblogo" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'>add logo to a picture</a><br />"></h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
</nav>
